.selected {
    font-weight: bold;
}
.pageNumbers {
    border: black 1px solid;
}
.pageNumbersArea {
    text-align: center;
}
.pageNumbersArea span {
    margin: 3px;
    cursor: pointer;
    font-size: 30px;
}
.pageNumbersArea input {
    width: 140px;
    text-align: center;
    vertical-align: text-bottom;
}
.pageNumbersArea button {
    margin: 3px;
    height: 30px;
    width: 60px;
    vertical-align: text-bottom;
}
.arrows {
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: center
}