.app-wrapper {
    display: grid;
    width: 1200px;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #ffdcd7;
}

button {
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    border-color: black;
    transition: 0.2s;

}
button:active {
    background-color: chartreuse;
}